<div>
    <a href="/">Subir doc</a>
    <a href="/chat">Preguntar</a>
    <a href="/admin">Admin</a>
    <a href="/analyze_text">Admin</a>
</div>

<div>
    <ul>
        {% for file in files_list %}
            <li>{{file.title}} <input type="checkbox" value="{{file.id}}" checked></li>
        {%endfor%}
    </ul>
</div>

<h2>Analizat Texto</h2>
<button id="analizar_texto">Analizar</button>

<h2>Hacer una pregunta</h2>
<form id="questionForm">
    <input type="hidden" id="documentId" value="1"> <!-- Cambia este valor dinámicamente -->
    <label for="question">Pregunta:</label>
    <input type="text" id="question" name="question" required>
    <button type="submit">Preguntar</button>
</form>

<h3>Respuesta</h3>
<pre id="answerResponse"></pre>

<script>
    const d = document

    const questionForm = d.getElementById('questionForm');
    const answerResponse = d.getElementById('answerResponse');

    const btn_analizar_texto = d.getElementById('analizar_texto');

    questionForm.addEventListener('submit', async (event) => {
        event.preventDefault();

        const documentId = 8;
        const question = d.getElementById('question').value;

        const url = "{% url 'ask_question' %}";
        try {
            const response = await fetch(url, {
                method: 'POST',
                headers: { 'X-CSRFToken':'{{csrf_token}}', 'Content-Type': 'application/json' },
                body: JSON.stringify({ document_id: documentId, question }),
            });

            if (!response.ok) {
                const errorData = await response.json();
                answerResponse.textContent = `Error: ${errorData.msg}`;
                return;
            }

            const data = await response.json();
            answerResponse.textContent = `Pregunta: ${data.question}\nRespuesta: ${data.answer}`;
        } catch (error) {
            answerResponse.textContent = `Error al realizar la solicitud: ${error.message}`;
        }
    });

    btn_analizar_texto.addEventListener('click', async (e)=> {
        e.preventDefault();
        const url = "{% url 'analyze_text' %}"

        const file_id = Array.from(d.querySelectorAll('input[type="checkbox"]:checked')).map( check => {
            return Number(check.value);
        });

        if(!file_id) return alert('Seleccione un documento.');

        try {
            const response = await fetch(url, {
                method: 'POST',
                headers: { 'X-CSRFToken':'{{csrf_token}}', 'Content-Type': 'application/json' },
                body: JSON.stringify({file_id: file_id[0]}),
            });

            if (!response.ok) {
                const errorData = await response.json();
                answerResponse.textContent = `Error: ${errorData.msg}`;
                return;
            }

            const data = await response.json();
            
        } catch (error) {
            answerResponse.textContent = `Error al realizar la solicitud: ${error.message}`;
        }

    })
</script>